{% load static %}
{% url url as nav_url %}
<li>
  <a href="{{ nav_url }}"
     class="group flex items-center rounded-md p-2 text-sm font-semibold leading-6
            {% if request.path == nav_url %}bg-gray-800 text-white{% else %}text-gray-400 hover:bg-gray-800 hover:text-white{% endif %}"
     :class="sidebarCollapsed ? 'justify-center' : 'gap-x-3'"
     title="{{ label }}">
    {% if icon == "home" %}
    <i class="fa-solid fa-house fa-xl fa-fw shrink-0"></i>
    {% elif icon == "building" %}
    <i class="fa-solid fa-building fa-xl fa-fw shrink-0"></i>
    {% elif icon == "cog" %}
    <i class="fa-solid fa-gear fa-xl fa-fw shrink-0"></i>
    {% elif icon == "list" %}
    <i class="fa-solid fa-list-check fa-xl fa-fw shrink-0"></i>
    {% elif icon == "users" %}
    <i class="fa-solid fa-users fa-xl fa-fw shrink-0"></i>
    {% elif icon == "chart" %}
    <i class="fa-solid fa-chart-bar fa-xl fa-fw shrink-0"></i>
    {% elif icon == "bolt" %}
    <i class="fa-solid fa-bolt fa-xl fa-fw shrink-0"></i>
    {% elif icon == "star" %}
    <i class="fa-solid fa-star fa-xl fa-fw shrink-0"></i>
    {% elif icon == "tag" %}
    <i class="fa-solid fa-tag fa-xl fa-fw shrink-0"></i>
    {% elif icon == "folder" %}
    <i class="fa-solid fa-folder fa-xl fa-fw shrink-0"></i>
    {% elif icon == "bell" %}
    <i class="fa-solid fa-bell fa-xl fa-fw shrink-0"></i>
    {% elif icon == "key" %}
    <i class="fa-solid fa-key fa-xl fa-fw shrink-0"></i>
    {% endif %}
    <span x-show="!sidebarCollapsed" x-cloak>{{ label }}</span>
  </a>
</li>
